@use '../mixins' as *;

.app-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 7px;
  line-height: 1;

  &__icon {
    &--img {
      width: 24px;
      height: 32px;
    }

    &--text {
      width: 100px;
      height: 21px;
      color: var(--color-main);
    }
  }
}
