@use '../mixins' as *;

.custom-input {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 11px 16px;
  border-radius: 8px;

  @include vp-767 {
    padding: 16px;
  }

  &__field {
    border: none;
    font-size: 18px;
    line-height: 24px;
    outline: none;
    flex: 1;
    width: 100%;
    padding: 0;
  }

  &__reset {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.custom-input--search {
  background-color: var(--color-input-search-background);
  border: 1px solid var(--color-input-border);

  .custom-input__field {
    background-color: var(--color-input-search-background);
    color: var(--color-input-search);
  }

  .custom-input__icon {
    width: 20px;
    height: 20px;
    color: var(--color-input-search);
    flex-shrink: 0;

    &--reset {
      width: 13px;
      height: 13px;
    }
  }
}

.custom-input--auth {
  transition: border-color var(--transition-300);

  .custom-input__field:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--color-auth-input-background) inset !important;
    -webkit-text-fill-color: var(--color-auth-input-text) !important;
  }

  background-color: var(--color-auth-input-background);
  border: 1px solid var(--color-auth-input-border);
  padding: 15px 16px;
  gap: 12px;

  &:hover,
  &:focus-within {
    border-color: var(--color-winterspring-lilac);

    & .custom-input__icon {
      color: var(--color-winterspring-lilac) !important;
    }
  }

  .custom-input__field {
    background-color: var(--color-auth-input-background);
    color: var(--color-auth-input-text);

    &::placeholder {
      color: var(--color-auth-input-placeholder);
    }
  }

  &:has(.custom-input__field:placeholder-shown) .custom-input__icon {
    color: var(--color-auth-input-placeholder);
  }

  &:has(.custom-input__field:not(:placeholder-shown)) .custom-input__icon {
    color: var(--color-auth-input-text);
  }

  & .custom-input__icon {
    transition: color var(--transition-300);
  }
}

.custom-input--error {
  border-color: var(--color-embarrassment);

  .custom-input__icon {
    color: var(--color-embarrassment);
  }
}
