@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  &__icon {
    width: 100%;
    height: 100%;
    animation: spin var(--spin-1500);
    transform-origin: center;
  }
}
