@use '../mixins' as *;

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity var(--transition-300);

  @include vp-1023 {
    width: 100vw;
  }

  &--open {
    opacity: 1;
    pointer-events: auto;
    z-index: 50;

    & .modal__overlay {
      opacity: 1;
    }

    & .modal__window {
      transform: scale(1);
      opacity: 1;
    }
  }

  &--closed {
    pointer-events: none;

    .modal__overlay {
      opacity: 0;
    }

    .modal__close-btn {
      opacity: 0;
    }

    .modal__window {
      transform: scale(0.96);
      opacity: 0;
    }
  }

  &--trailer .modal__overlay {
    background-color: var(--color-graphite-900);
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background-color: var(--color-black-50);
    opacity: 0;
    transition: opacity var(--transition-300);
    z-index: 51;
  }

  &__wrapper {
    position: relative;
    z-index: 52;

    @include vp-767 {
      max-width: calc(100vw - 40px);
      width: 100%;
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: -24px;
    transform: translateX(100%);

    @include vp-767 {
      top: 10px;
      right: 59px;
      z-index: 1000;
    }
  }

  &__window {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: scale(0.96);
    opacity: 0;
    transition:
      transform var(--transition-300),
      opacity var(--transition-300);
  }
}
