@use '../mixins' as *;

.profile-settings {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include vp-767 {
    width: 100%;
    gap: 40px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 16px;

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      background-color: var(--color-profile-logo);

      @include vp-767 {
        width: 48px;
        height: 48px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-icon {
      width: 22px;
      height: 18px;
    }

    &-initials {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;

      @include vp-767 {
        padding: 8px 12px;
      }
    }

    &-label {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;

      @include vp-767 {
        font-size: 14px;
        line-height: 20px;
        color: var(--color-translucent);
      }

      &--name {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;

        @include vp-767 {
          font-size: 18px;
          line-height: 14px;
          color: var(--color-white);
        }
      }
    }
  }

  &__btn {
    width: max-content;

    @include vp-767 {
      width: 100%;
    }
  }
}
