.rating {
  padding: 4px 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-white);
  background-color: var(--color-temper-green);
  border-radius: 16px;

  &--yellow {
    background-color: var(--color-romaine-green);
  }

  &--green {
    background-color: var(--color-temper-green);
  }

  &--grey {
    background-color: var(--color-lucky-grey);
  }

  &--red {
    background-color: var(--color-lionheart);
  }

  &__logo {
    width: 16px;
    height: 16px;
  }

  &__value {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}
