@use '../mixins' as *;

.socials {
  display: flex;
  gap: 24px;

  &__item {
    min-width: 36px;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-socials);
    border-radius: 8px;

    @include vp-767 {
      min-width: 24px;
      min-height: 24px;
    }
  }

  &__logo {
    color: var(--color-socials);

    @include vp-767 {
      &--tg {
        width: 12px;
        height: 7px;
      }

      &--yt {
        width: 10px;
        height: 7px;
      }

      &--ok {
        width: 7px;
        height: 12px;
      }

      &--vk {
        width: 13px;
        height: 7px;
      }
    }
  }
}
