@use '../mixins' as *;

.tabs {
  display: flex;
  align-items: center;
  gap: 64px;

  @include vp-767 {
    justify-content: space-between;
    gap: 0;
  }
}

.tab {
  height: 100%;
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  line-height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  @include vp-767 {
    gap: 4px;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-flamingo);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform var(--transition-300);
  }

  &--active {
    &::after,
    &::after {
      transform: scaleX(1);
    }
  }

  &__icon-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    &--heart {
      width: 20px;
      height: 19px;
    }

    &--avatar {
      width: 16px;
      height: 21px;
    }
  }

  &__label {
    @include vp-767 {
      display: none;
    }

    &--mobile {
      display: none;

      @include vp-767 {
        display: block;
      }
    }
  }
}
