@use '../mixins' as *;

.movie-trailer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-iridium);
  width: min(90vw, 960px);
  aspect-ratio: 16 / 9;
  max-height: 90vh;
  z-index: 500;
  position: relative;

  @include vp-767 {
    width: 100%;
    height: 100%;
    min-height: 308px;
    aspect-ratio: 375/308;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }

  &__bottom {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 40px;
    bottom: 24px;
    left: 20px;
    right: 20px;
    height: 10%;
    background-color: var(--color-smoke-50);
    color: var(--color-white);
    font-size: 24px;
    line-height: 32px;

    @include vp-767 {
      padding: 24px;
      font-size: 18px;
      line-height: 24px;
      left: 0;
      bottom: 0;
    }
  }

  &__warning {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-embarrassment);
    font-size: 44px;
    line-height: 48px;
  }
}
