@use '../mixins' as *;

.movie-banner {
  display: flex;
  flex-direction: column;
  padding-top: 32px;

  @include vp-767 {
    padding: 0 0 24px;
  }

  &__content {
    display: flex;

    @include vp-1023 {
      flex-direction: column-reverse;
      gap: 24px;
    }
  }

  &__inner {
    max-width: 600px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 74px 0 0;

    @include vp-1023 {
      padding: 0;
      gap: 32px;
      min-width: unset;
      max-width: unset;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include vp-767 {
      gap: 12px;
    }
  }

  & .meta {
    font-size: 14px;
    line-height: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 0;

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-white-70);
    margin: 0;

    @include vp-767 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    align-items: center;

    @include vp-767 {
      flex-wrap: wrap;
    }

    > :first-child {
      @include vp-767 {
        width: 100%;
      }
    }

    > :nth-child(2) {
      @include vp-767 {
        width: 50%;
      }
    }
  }

  &__image {
    max-width: 680px;
    min-width: 280px;
    max-height: 552px;
    aspect-ratio: 680 / 552;
    border-radius: 16px;

    @include vp-1023 {
      max-width: none;
      min-width: none;
      aspect-ratio: 334 / 234;
      width: 100%;
      margin-top: -5px;
    }
  }

  &__button {
    min-width: 68px;
    height: 100%;

    @include vp-767 {
      min-width: 66px;
    }

    &--added {
      .movie-banner__logo-image {
        color: var(--color-winterspring-lilac);
        fill: var(--color-winterspring-lilac);
      }
    }
  }
}
