@use '../mixins' as *;

.movie-card {
  display: flex;
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 12px;
  }

  &__counter {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: Play;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-circumorbital-ring);
    background-color: var(--color-movie-counter);
    padding: 8px 24px;
    border-radius: 50px;
    position: absolute;
    top: -12px;
    left: -12px;
  }

  & .btn--close {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    padding: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-300);
  }

  & .btn--close .btn__icon {
    width: 13px;
    height: 13px;
  }

  &:hover .btn--close {
    opacity: 1;
    pointer-events: all;
  }
}
