@use '../mixins' as *;

.genre-card {
  background-color: var(--color-genre-card);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;

  @include vp-767 {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 220px;
    border-radius: 24px 24px 0 0;
    object-position: top;

    @include vp-767 {
      aspect-ratio: 335/220;
      height: auto;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    padding: 22px 30px 30px;
  }

  &__genre {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
}
