@use '../mixins' as *;

.auth-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  background-color: var(--color-auth-background);
  color: var(--color-main);
  width: 420px;
  border-radius: 24px;
  padding: 64px 40px 48px;

  @include vp-767 {
    width: 100%;
    padding: 64px 20px 20px;
  }

  &--success {
    padding-bottom: 64px;
  }

  & .app-logo {
    margin-bottom: 32px;
    padding: 0;
    flex-shrink: 0;

    @include vp-767 {
      margin-bottom: 24px;
    }

    &__icon {
      &--img {
        width: 23px;
        height: 30px;
        overflow: visible;
      }

      &--text {
        width: 92px;
        height: 20px;
        overflow: visible;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    text-align: center;
    margin: 0 0 16px;

    &:empty {
      display: none;
    }
  }

  &__success-message {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 16px;
  }

  &__btn {
    width: 100%;
  }

  & form {
    width: 100%;
  }

  & form label:last-of-type .custom-input {
    margin-bottom: 16px;
  }

  & form button {
    width: 100%;
  }

  & .app-logo__icon--img {
    width: 23px;
    height: 30px;
  }
}
