@use '../mixins' as *;
.register-form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__error-text {
    color: var(--color-embarrassment);
    margin: 0 0 12px;
  }

  .custom-input--auth:first-child {
    .custom-input__icon {
      width: 22px;
      height: 18px;
    }
  }

  .custom-input--auth:nth-child(2),
  .custom-input--auth:nth-child(3) {
    .custom-input__icon {
      width: 16px;
      height: 21px;
    }
  }

  .custom-input--auth:nth-child(4),
  .custom-input--auth:nth-child(5) {
    .custom-input__icon {
      width: 22px;
      height: 12px;
    }
  }
}
