@use '../../mixins' as *;

.burger {
  @include vp-1023 {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 18px;
    position: relative;
    cursor: pointer;
    z-index: 20;
    $root: &;

    &__icon {
      width: 100%;
      height: 100%;
      background-color: var(--color-main);
      height: 2px;
      position: relative;
      transition: background-color var(--transition-300);
      display: flex;

      &::before,
      &::after {
        position: absolute;
        background-color: var(--color-main);
        content: '';
        height: 2px;
        width: 100%;
        top: 8px;
        left: 0;
        transform-origin: center;
        transition:
          background-color var(--transition-300),
          transform var(--transition-300),
          top var(--transition-300) 0.3s;
      }

      &::after {
        top: -8px;
      }

      .header__inner--burger & {
        background-color: transparent;

        &::after {
          background-color: var(--color-main);
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          transition:
            background-color var(--transition-300),
            transform var(--transition-300) 0.3s,
            top var(--transition-300);
        }

        &::before {
          background-color: var(--color-main);
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
          transition:
            background-color var(--transition-300),
            transform var(--transition-300) 0.3s,
            top var(--transition-300);
        }
      }
    }
  }
}
