@use '../mixins' as *;

.header-search {
  position: relative;
  z-index: 10;

  &__dropdown {
    border-radius: 8px;
    width: 559px;
    background-color: var(--color-search-background);
    border: 1px solid var(--color-search-border);
    padding: 16px;
    top: calc(100% + 12px);
    right: 0;

    @include vp-767 {
      width: 100%;
      padding: 22px 0 20px 20px;
      top: calc(100% + 8px);
    }
  }
}
