@use '../mixins' as *;

.top-section {
  padding: 40px 0 120px;

  & .movie-grid {
    @include vp-767 {
      padding-top: 20px;
      display: flex;
      gap: 40px;
      overflow-x: auto;
      overflow-y: visible;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      transform: translateX(-12px);
    }
  }

  & .movie-card {
    @include vp-767 {
      width: 224px;
      min-height: 336px;
      transform: translateX(12px);
    }
  }

  & .top-section__title {
    font-size: 40px;
    line-height: 48px;

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  @include vp-767 {
    gap: 20px;
  }

  @include vp-767 {
    padding: 32px 0;
  }
}
