@use '../mixins' as *;

.movie-page {
  & .movie-banner__image {
    @include vp-767 {
      aspect-ratio: 338 / 260;
    }
  }

  & .movie-banner__actions {
    flex-wrap: nowrap;

    > :first-child {
      @include vp-767 {
        width: unset;
        flex: 3.69 1 0;
      }
    }

    > :nth-child(2) {
      flex: 1 1 0;
      max-width: 68px;
    }
  }
}

.movie-info-section {
  padding: 40px 0 120px;

  @include vp-767 {
    gap: 38px;
  }

  @include vp-767 {
    padding: 32px 0 32px 0;
  }

  .movie-info-section__content {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .movie-info-section__title {
    font-size: 40px;
    line-height: 48px;

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
