@use '../mixins' as *;

.profile-page {
  @include vp-767 {
    width: 100%;
  }
}

.profile-section {
  --header-height: 296px;
  gap: 64px;

  @include vp-767 {
    padding: 16px 0 152px;
    gap: 39px;
  }

  .profile-section__title {
    font-size: 48px;
    line-height: 56px;

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .profile-section__content {
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;

    @include vp-767 {
      overflow-x: hidden;
      overflow-y: visible;
    }
  }

  &__header {
    margin-bottom: -20px;

    @include vp-767 {
      margin: 0;
    }
  }

  &__scroll {
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-top: 20px;

    @include vp-767 {
      height: auto;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }

  &__scroll-wrapper {
    min-height: max-content;

    @include vp-767 {
      min-height: auto;
    }
  }

  &__scroll::-webkit-scrollbar {
    display: none;
  }

  & .movie-grid {
    @include vp-767 {
      display: flex;
      flex-wrap: nowrap;
      width: max-content;
      gap: 40px;
    }
  }

  & .movie-card {
    @include vp-767 {
      width: 224px;
      height: 336px;
    }
  }

  & .tab__icon--heart-empty {
    @include vp-767 {
      width: 20px;
      height: 19px;
    }
  }
}
