@use '../mixins' as *;

.footer {
  padding: 42px 0;

  @include vp-767 {
    padding: 24px 0 36px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include vp-767 {
      flex-direction: row-reverse;
    }
  }
}
