@use '../mixins' as *;

.movie-grid,
.genres-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 64px 40px;

  @include vp-1023 {
    gap: 20px 10px;
  }
}

.genres-grid {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.genres-grid {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
}
