@use '../mixins' as *;

.page-section {
  padding: 64px 0 160px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  [class$='__title'] {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    margin: 0;

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  [class$='__content'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;

    @include vp-767 {
      gap: 40px;
    }
  }
}
