.page-notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 100px;

  &__warning {
    font-size: 60px;
    line-height: 70px;
    color: var(--color-embarrassment);
  }
}
