@use "./variables" as *;

@mixin vp-767 {
  @media (max-width: $vp-mobile) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: $vp-tablet) {
    @content;
  }
}


@mixin hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
