@use './variables' as *;
@use './mixins' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  position: relative;

  & .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // @include vp-768 {
  //   padding: 80px 0 0 0;
  // }

  // @include vp-1024 {
  //   padding: 72px 0 0 0;
  // }
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

button {
  color: inherit;
}
