/* Breakpoints */
/* ------------------------------------ */
$vp-mobile: 767px;
$vp-tablet: 1023px;

:root {
  /*fonts*/
  --ff-main: 'Play', 'Arial', sans-serif;
  /*Ð¡OLORS*/

  --color-main: white;
  --color-bg-main:
    linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
    linear-gradient(178deg, rgba(39, 135, 245, 0.9) 0%, rgba(163, 147, 245, 0.9) 100%);

  /*links*/
  --color-link: var(--color-white);

  /*inputs, search*/
  --color-search-background: var(--color-iridium);
  --color-input-search-background: var(--color-iridium);
  --color-input-search: var(--color-translucent);
  --color-input-border: transparent;
  --color-search-border: transparent;

  /*svgs*/
  --color-svg-main: #ffffff;

  /*meta*/
  --color-meta: var(--color-white-70);

  /*socials*/
  --color-socials: var(--color-white-80);

  /*genre-card*/
  --color-genre-card: var(--color-raven);

  /*movie-counter*/
  --color-movie-counter: var(--color-white);

  /*profile-card*/
  --color-profile-logo: var(--color-translucent);

  /*auth-card*/
  --color-auth-background: var(--color-coarse-wool);
  --color-auth-input-background: var(--color-iridium);
  --color-auth-input-placeholder: var(--color-translucent);
  --color-auth-input-text: var(--color-white);
  --color-auth-input-border: var(--color-iridium);

  /*btns*/
  --color-invert-btn: var(--color-white);
  --bg-color-invert-btn-hover: var(--color-blue-jeans);
  --color-header-btn: var(--color-white);

  /*nav*/
  --color-nav-burger: var(--color-black);

  //movie-info
  --color-movie-info-label-name: var(--color-white);
  --color-movie-info-label-line: var(--color-translucent);

  /*colors*/
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-40: rgba(0, 0, 0, 0.5);
  --color-translucent: rgba(255, 255, 255, 0.5);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-70: rgba(255, 255, 255, 0.7);
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-iridium: #393b3c;
  --color-temper-green: #308e21;
  --color-montana: #393b3c;
  --color-graphite-900: rgba(10, 11, 11, 0.9);
  --color-dire-wolf: #282828;
  --color-blue-jeans: #67a5eb;
  --color-circumorbital-ring: #6a5dc2;
  --color-embarrassment: #ff7575;
  --color-flamingo: #dc5dfc;
  --color-raven: #0a0b0b;
  --color-winterspring-lilac: #b4a9ff;
  --color-smoke-50: rgba(10, 11, 11, 0.5);
  --color-romaine-green: #a59400;
  --color-lucky-grey: hsl(0, 8%, 77%);
  --color-lionheart: #c82020;
  --color-coarse-wool: #121c25;
  --color-cascading-white: #f6f6f6;
  --color-east-bay: #45526e;

  --color-gradient:
    linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
    linear-gradient(178deg, rgba(39, 135, 245, 0.9) 0%, rgba(163, 147, 245, 0.9) 100%);

  /*Animation*/
  --transition-300: ease-in 0.3s;
  --transition-700: ease-in 0.7s;
  --spin-1500: linear 1.5s infinite;
}

:root[data-theme='light'] {
  --color-main: #000000;
  --color-bg-main: #ffffff;

  /*links*/
  --color-link: var(--color-black);

  /*inputs*/
  --color-search-background: var(--color-white);
  --color-input-search-background: transparent;
  --color-input-search: var(--color-smoke-50);
  --color-input-border: var(--color-lucky-grey);
  --color-search-border: var(--color-lucky-grey);

  /*svgs*/
  --color-svg-main: #000000;

  /*meta*/
  --color-meta: var(--color-lucky-grey);

  /*socials*/
  --color-socials: var(--color-lucky-grey);

  /*genre-card*/
  --color-genre-card: var(--color-black-50);

  /*movie-counter*/
  --color-movie-counter: var(--color-lucky-grey);

  /*profile-card*/
  --color-profile-logo: var(--color-lucky-grey);

  /*auth-card*/
  --color-auth-background: var(--color-white);
  --color-auth-input-background: var(--color-white-15);
  --color-auth-input-placeholder: var(--color-black-40);
  --color-auth-input-text: var(--color-black);
  --color-auth-input-border: var(--color-black-40);

  /*btns*/
  --color-invert-btn: var(--color-black);
  --bg-color-invert-btn-hover: var(--color-blue-jeans);
  --color-header-btn: var(--color-black);

  /*nav*/
  --color-nav-burger: var(--color-white);

  //movie-info
  --color-movie-info-label-name: var(--color-black);
  --color-movie-info-label-line: var(--color-black);
}
